@use "sass:color";
@use "./variables" as *;

.faq {
  padding: 4rem 2rem;
  background-color: $white;
  text-align: center;

  .lineBreak {
    display: block;
  }

  .title {
    font-size: 2rem;
    color: $black;
    margin-bottom: 2rem;
  }

  :global(.p-accordion .p-accordion-header .p-accordion-header-link) {
    border: 0;
    color: $copper;
    padding: 1.3rem;
    border-bottom: 2px solid $copper;
    text-align: left;

    &:hover {
      background-color: color.adjust($light-gray, $lightness: -5%);
    }
  }

  :global(.p-accordion .p-accordion-content) {
    text-align: justify;
    color: $graphite;
    line-height: 1.6;
    hyphens: auto;

    @media (max-width: 768px) {
      text-align: left;
      hyphens: none;
    }
  }
}
