@import './variables';

.testimonials {
    padding: 4rem 2rem;
    background-color: #ffffff;
    text-align: center;

    .title {
        font-size: 2rem;
        color: $black;
        margin-bottom: 2rem;
    }

    .card {
        padding: 2rem;
        background-color: $light-gray;
        border-radius: 8px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
        max-width: 700px;
        margin: 0 auto;
    }

    .feedback {
        font-style: italic;
        font-size: 1.125rem;
        color: $graphite;
        margin-bottom: 1rem;
    }

    .name {
        font-weight: bold;
        color: $black;
    }
}